{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% block title %} Contact Us {% endblock title %}
{% block body_block %}

<div class="contactmains">
	<div class="contact">
    
		<h1>Period Tracker</h1>
		
			<form method="post">
				{{ form | crispy }} 
				{% csrf_token %}
				
				<button type="submit"  class="custom-btn btn-2">Predict</button>
	            <h1>{{ user }}</h1>
                <h3> {{ lp }}</h3>
                <h3> {{ pd }} </h3>
			</form>
		
	</div>

</div>

{% endblock %}